{% load static %}
<!DOCTYPE html>description
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anisuggest | Filtro</title>

    <script>
        var profileId = '{{ request.user.profile.id }}'; // Obtém o ID do perfil do usuário logado
    </script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'img/logo24.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">Página Inicial</a></li>
                                <li><a href="{% url 'filtro' %}">Filtrar</a></li>
                                <li><a href="#">Avaliar</a></li>
                                <li><a href="#">Recomendações</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <!--<a href="#" class="search-switch"><span class="icon_search"></span></a>-->
                        <a href="{% url 'logout' %}" data-confirm="Tem certeza que deseja sair do sistema?"> Logado <span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    
    <section class="product spad">

        <div class="container">
            <!--<p>Animes encontrados no banco de dados:</p>-->
            
            <div class="filtro-form">
                <form method="GET" action="{% url 'filtro' %}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Digite o nome do anime" name="anime">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>

            {% if filtragem %}
                <table class="table">
                    {% csrf_token %}
                    <thead>
                        <tr class="bg-danger text-white" >
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Genêro</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Episódios</th>
                            <th scope="col">Avaliação</th>
                            <th scope="col">Avaliar</th>
                            <!--<th scope="col">Membros</th>-->
                        </tr>
                    </thead>
                    <tbody class="table-dark">
                        {% for x in filtragem %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.name }}</td>
                            <td>{{ x.genre }}</td>
                            <td>{{ x.type }}</td>
                            <td>{{ x.episodes }}</td>
                            <td>{{ x.rating }}</td>
                            <td>
                                <button type="button" class="btn-avaliar" data-anime-id="{{ x.id }}" data-toggle="modal" data-target="#modalAvaliacao">
                                    Avaliar
                                </button>
                            </td>
                            <!--<td>{{ x.members }}</td>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Modal de Avaliação -->
                <div class="modal fade" id="modalAvaliacao" tabindex="-1" role="dialog" aria-labelledby="modalAvaliacaoLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalAvaliacaoLabel">Avaliação do Anime</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="formAvaliacao">
                                    {% csrf_token %}
                                    <input type="hidden" name="anime" id="animeId" value="{{ anime.id }}">
                                    <input type="hidden" name="profile" id="profileId" value="{{ profile.id }}">
                                    {{ rating_form.as_p }}
                                    <button type="submit" class="btn btn-primary">Salvar Avaliação</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Script JavaScript -->
                <script>
                    $(document).ready(function() {
                        // Atualiza o valor do campo anime_id no formulário de avaliação com base no botão clicado
                        $('.btn-avaliar').on('click', function() {
                            var animeId = $(this).data('anime-id');
                            $('#animeId').val(animeId);
                        });

                        // Limpa o formulário de avaliação ao fechar o modal
                        $('#modalAvaliacao').on('hidden.bs.modal', function (e) {
                            $('#formAvaliacao')[0].reset();
                        });

                        $('#formAvaliacao').on('submit', function(event) {
                            event.preventDefault(); // Evita o envio padrão do formulário

                            // Preenche o campo 'profile' no formulário com o ID do perfil
                            $('#profileId').val(profileId);

                            var formData = $(this).serialize(); // Obtém os dados do formulário
                            console.log("Dados do formulário:", formData);
                            $.ajax({
                                type: 'POST',
                                url: window.location.href, // Envio para a mesma página
                                data: formData,
                                success: function(response) {
                                    // Atualize a exibição conforme necessário
                                    console.log(response); // Apenas para depuração, você pode fazer algo com a resposta recebida

                                    // Fecha o modal após o envio bem-sucedido do formulário
                                    $('#modalAvaliacao').modal('hide');
                                },
                                error: function(error) {
                                    // Lide com erros, se houver algum
                                    console.error(error);
                                }
                            });
                        });
                    });
                </script>

                <!-- Exibir mensagens de sucesso ou erro após a avaliação -->
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}

            {% elif request.GET.anime %}
                <p>Nenhum resultado encontrado.</p>
            {% endif %}

        </div>
    </section>
    
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo24.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">Página Inicial</a></li>
                            <li><a href="{% url 'filtro' %}">Filtrar</a></li>
                            <li><a href="#">Avaliar</a></li>
                            <li><a href="#">Recomendações</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados.</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Procure aqui.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/personalizado.js' %}"></script>
</body>

</html>